<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Course Website</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- Normalize Style -->
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <!-- Color Switcher -->
    <link rel="stylesheet" href="../assets/css/color-switcher.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../assets/extras/animate.css" type="text/css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../assets/extras/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="../assets/extras/owl.theme.css" type="text/css">
    <!-- Rev Slider Css -->
    <link rel="stylesheet" href="../assets/extras/settings.css" type="text/css">
    <!-- Nivo Lightbox Css -->
    <link rel="stylesheet" href="../assets/extras/nivo-lightbox.css" type="text/css">
    <!-- Slicknav Css -->
    <link rel="stylesheet" href="../assets/css/slicknav.css" type="text/css">
    <!-- Responsive Style -->
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="../assets/css/colors/sky.css" media="screen" />

  </head>
  <body>

    <!-- Header area wrapper Starts -->
    <header id="header-wrap">
      <!-- Roof area Starts -->
      <div id="roof" class="hidden-xs">
          <div class="container">

              <!-- Quick Contacts Starts -->
              <div class="quick-contacts pull-right">
                <% if (data){ %>
                  <span><a href="/>"><%=data.firstName%> <%=data.middleName%> <%=data.lastName%></a></span>
                  <span><a href="/logout"><i class="fa fa-user"></i> Logout</a></span>
                <% }else{%>
                  <span><a href="/login"><i class="fa fa-user"></i> Login</a></span>
                <% } %>
              </div>
              <!-- Quick Contacts End -->
          </div>
      </div>
      <!-- Roof area End -->

      <!-- Navbar Start -->
      <nav class="navbar navbar-default main-navigation" role="navigation" data-spy="affix" data-offset-top="50">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="../assets/img/logo.png" alt=""></a>
            </div>
            <!-- Brand End -->

            <!-- Collapse Navbar -->
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-toggle">
                    <a class="active" href="/">Home</a>
                </li>
                <li class="dropdown dropdown-toggle">
                    <a href="/announcement">Announcements</a>
                </li>
                <li class="dropdown dropdown-toggle">
                    <a href="#" data-toggle="dropdown">Topics<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="/notes/servlets">Java Web Servlets</a></li>
                    <li><a href="/notes/jsp">Java Server Pages (JSP)</a></li>
                    <li><a href="/notes/php">PHP</a></li>
                    <li><a href="/notes/nodejs">Node.js</a></li>
                    <li><a href="/notes/websecurity">Web Application Security</a></li>
                  </ul>
                </li>
                <li class="dropdown dropdown-toggle">
                    <a href="/activities">Activities</a>
                </li>
                <li class="dropdown dropdown-toggle">
                    <a href="#">Records</a>
                </li>
                <li>
                    <a href="/contact">Sources</a>
                </li>
              </ul>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
              <li>
                <a class="active" href="index">Home</a>
              </li>
              <li>
                <a href="/announcement">Announcements</a>
              </li>
              <li>
                <a href="#">Topics</a>
                <ul>
                  <li><a href="servletsMainPage">Java Web Servlets</a></li>
                  <li><a href="jspMainPage">Java Server Pages (JSP)</a></li>
                  <li><a href="phpMainPage">PHP</a></li>
                  <li><a href="nodeMainPage">Node.js</a></li>
                  <li><a href="webSecurityMainPage">Web Application Security</a></li>
                </ul>
              </li>
              <li>
                <a href="activities">Activities</a>
              </li>
              <li>
                <a href="#">Records</a>
              </li>
              <li><a href="contact">Sources</a></li>
            </ul>
            <!-- Mobile Menu End -->

          </div>
      </nav>
      <!-- Navbar End -->

    </header>
    <!-- Header area wrapper End -->
