<% include partials/head.ejs %>
<!-- Activity Area Start -->
<section class="activity-area section">
    <div class="container">
        <h1>Node.js</h1>
    </div>
</section>
<!-- Activity Area End -->
<% include partials/footer.ejs %>
